html, body {
  height: 100%;
  max-height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box1 {
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
}

.box2 {
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  border-radius: 10% 50% 5% 20%/50% 1% 50% 2%;
}

.box3 {
  border-width: 5px 3px 3px 5px;
  border-radius: 50% 1% 50% 2%/10% 50% 5% 20%;
}

.box4 {
  border-width: 3px 5px 3px 5px;
  border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
}

.box5 {
  border-width: 5px 3px 3px 5px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}